parameters:
    level: max
    paths:
        - Command
        - Controller
        - DependencyInjection
        - Entity
        - EventListener
        - Exception
        - Service
        - Utils
